#section-hackathon {
}

.btn_Qhack:hover, .btn_Qhack:focus, .btn_Qhack:active, {
  color: #faa;
  border-color: #faa;
  background-color: #faa;
}

.btn_Qhack:hover, .btn_Qhack:active {
  color: #9C0400;
  background-color: #95b0b6;
  border-color: #455963;
}

